:root {
    --color-gold: #FFD700;

    --color-black: Black;
    --color-yellow: var(--color-gold);
    --color-contrast: #DB5461;
}

body {
    font-family: sans-serif;
    background-color: var(--color-yellow);
    color: var(--color-black);
}