---
import DemoLayout from "../components/DemoLayout.astro";
import Counter from "../components/Counter.astro";
---
<DemoLayout title="Counter">
    <h1>Counter Demo</h1>
    <Counter />
</DemoLayout>
<style>
    h1 {
        text-align: center;
    }
</style>