<script>
  const countEl = $('.counter .count');
  const count = () => Number(countEl.text());

  $('.counter .increment')
  .hyper()
  .on('click')
  .run(() => count() + 1)
  .then()
  .trigger('count')
  .closest('.counter');

  $('.counter .decrement')
  .hyper()
  .on('click')
  .when(() => count() > 0)
  .run(() => count() - 1)
  .then()
  .trigger('count')
  .closest('.counter');

  $('.counter')
  .hyper()
  .on('count')
  .run((ev, _, count) => count)
  .then()
  .put()
  .into(countEl)
  .then()
  .toggleAttr('disabled', () => count() === 0)
  .to('.counter .decrement');
</script>
<div class="counter">
  <div class="result">
    Count: <span class="count">0</span>
  </div>

  <div class="controls">
    <button type="button" class="increment">Increment</button>
    <button type="button" class="decrement" disabled>Decrement</button>
  </div>
</div>

<style>
  .counter {
    display: grid;
    justify-content: center;
    grid-row-gap: 1.2rem;
  }
  .result {
    text-align: center;
    font-size: 24px;
  }

  .count {
    font-weight: 600;
  }

  .controls {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 0.8rem;
  }

  button {
    background: var(--color-black);
    border: 3px solid white;
    padding: 0.5rem;
    font-size: 14px;
    color: white;
  }

  button:not([disabled]):active {
    border-color: red;
  }

  button[disabled] {
    opacity: 0.6;
  }
</style>