---
import '../styles/all.css';
const { title } = Astro.props;
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>{ title }</title>
	<script is:inline src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
	<script src="../lib/jhyper"></script>
	<style>
		body {
			font-family: sans-serif;
		}
	</style>
</head>
	<body>
		<slot />
	</body>
</html>
